* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --background: #5e4feb;
    --color-icon: #e6e6e6;
    --color-icon-hover: 0.6;
}

.dark {
    --background: #222;
}

body {
    background-color: var(--background);
    transition: background .3s ease;
}