* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background);
    transition: background .3s ease;
}

/* Light Mode */
:root {
    --color-all-text: var(--outline);
    --color-btn-brighter: #4432e5;
    --color-text: var(--background);
    --color-input: var(--outline);
    --background-main: #e6e6e6;
    --background: #5e4feb;
    --color-icon: #e6e6e6;
    --color-btn: #7769f3;
    --border-color: #3335;
    --outline: #333;
}

/* Dark mode */
.dark {
    --color-all-text: #fff;
    --color-input-brighter: #aaa;
    --color-btn-brighter: #808080;
    --background-main: #323232;
    --border-color: #ccc5;
    --color-btn: #4f4f4f;
    --color-input: #888;
    --color-text: rgb(81, 223, 81);
    --background: #222;
    --outline: #ccc;
}

/* Responsive */
@media screen and (width <= 520px) {
    :root {
        --color-icon: #333;
    }

    .dark {
        --color-icon: #e6e6e6;
    }
}