.input {
    display: grid;
    height: 100%;
    place-items: center;
    align-content: center;
    grid-gap: 2rem;
}

/* Styling input */
.input input {
    transition: all 200ms linear;
    border: 2px solid var(--color-btn);
    background-color: transparent;
    color: var(--color-input);
    padding-inline: 13px;
    border-radius: 5px;
    outline: none;
    height: 50px;
    width: 95%;
}

.input input::placeholder {
    color: var(--color-input);
}

.input input:is(:focus, :hover) {
    border-color: var(--color-btn-brighter);
    color: var(--color-input-brighter);
}

.input input:is(:focus, :hover)::placeholder {
    color: var(--color-input-brighter);
}

/* Stylling buttons */
.input .buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.input .buttons button {
    background-color: var(--color-btn);
    transition: opacity 250ms ease;
    padding-block: 10px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
    outline: none;
    border: none;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.input .buttons button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.input .buttons button:focus-visible {
    outline: 1px solid var(--outline)
}

/* Responsive */
@media screen and (width < 348px) {
    .input .buttons {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .input .buttons button {
        width: 95%;
        padding-block: 20px;
    }

    .input input {
        height: 70px;
        font-size: 1.2rem;
    }
}

/* Responsive */
@media screen and (width <= 520px) {
    .input {
        width: 100%;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
    }
}


@media screen and (width <= 280px) {
   
    .input input {
        text-align: center;
    }
}

@media screen and (width < 348px) and (height <= 420px) {
    .input .space {
        width: 100%;
        height: calc(100vh - 350px);
    }

    .input {
        position: static;
        transform: none;
        padding-bottom: 1rem;
    }
}

@media screen and (width < 348px) and (height <= 380px) {
    .input .space {
        height: calc(100vh - 300px);
    }

    .input  {
        grid-gap: 0;
    }
}

@media screen and (width < 348px) and (height <= 320px) {
    .input .space {
        height: calc(100vh - 250px);
    }
}

@media screen and (width < 348px) and (height <= 300px) {
    .input .space {
        height: calc(100vh - 180px)
    }
}